/* #f4f8f9 */
body{
    background: #f4f8f9;
}

.menu-list{ 
    position: absolute;
    left: -100em;
    top: -3.1em;
    height: 100vh;
    transition: 0.3s;
    /* color: #e0e0e0; */
    color: rgb(17, 73, 17);
    /* background: rgba(26, 156, 134, 0.1) !important; */
}

.show{
    left: 0em;
}


.question-container > section {
    width: 100%;
}









/* ////////////////ASSIGNMENT PAGE STYLING//////////////// */
/* .Assignment_page header {
    background: #453759;
} */




/* ////////////////ASSIGNMENT MENU STYLING//////////////// */
/* .menu{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    gap: 10px;
    padding: 10em 2em;
}

.menu .box:nth-child(even){
    background: #21bba1;
}

.menu .box:nth-child(odd){
    color: #000 !important;
   box-shadow: 0px 0px 30px 10px #e0e0e0;
} */